<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <title>pygments.rb test</title>

    <link href="style.css" rel="stylesheet">
  </head>

  <body>
    <section id="content">
      <%= code %>
    </section>
  </body>
</html>
